<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bwts.batchservice.dao.mapper.FailDocLogMapper" >
  <resultMap id="BaseResultMap" type="com.bwts.batchservice.entity.FailDocLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tenant_id" property="tenantId" typeHandler="UUIDTypeHandler" />
    <result column="document_id" property="documentId" typeHandler="UUIDTypeHandler" />
    <result column="phase" property="phase" jdbcType="VARCHAR" />
    <result column="task_id" property="taskId" jdbcType="BIGINT" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="fail_timestamp" property="failTimestamp" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tenant_id, document_id, phase, task_id, message, fail_timestamp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fail_doc_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fail_doc_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bwts.batchservice.entity.FailDocLog">
    insert into fail_doc_log (tenant_id,
      document_id, phase, task_id, 
      message, fail_timestamp)
    values (#{tenantId,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
      #{documentId,jdbcType=OTHER,typeHandler=UUIDTypeHandler}, #{phase,jdbcType=VARCHAR}, #{taskId,jdbcType=BIGINT},
      #{message,jdbcType=VARCHAR}, #{failTimestamp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bwts.batchservice.entity.FailDocLog" >
    insert into fail_doc_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="documentId != null" >
        document_id,
      </if>
      <if test="phase != null" >
        phase,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="failTimestamp != null" >
        fail_timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
      </if>
      <if test="documentId != null" >
        #{documentId,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
      </if>
      <if test="phase != null" >
        #{phase,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="failTimestamp != null" >
        #{failTimestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bwts.batchservice.entity.FailDocLog" >
    update fail_doc_log
    <set >
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
      </if>
      <if test="documentId != null" >
        document_id = #{documentId,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
      </if>
      <if test="phase != null" >
        phase = #{phase,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=BIGINT},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="failTimestamp != null" >
        fail_timestamp = #{failTimestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bwts.batchservice.entity.FailDocLog" >
    update fail_doc_log
    set tenant_id = #{tenantId,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
      document_id = #{documentId,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
      phase = #{phase,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=BIGINT},
      message = #{message,jdbcType=VARCHAR},
      fail_timestamp = #{failTimestamp,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
