<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bwts.batchservice.dao.mapper.TaskDocLogMapper">
    <resultMap id="BaseResultMap" type="com.bwts.batchservice.entity.TaskDocLog">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="tenant_id" property="tenantId" typeHandler="UUIDTypeHandler"/>
        <result column="document_id" property="documentId" typeHandler="UUIDTypeHandler"/>
        <result column="phase" property="phase" jdbcType="VARCHAR"/>
        <result column="retry_time" property="retryTime" jdbcType="INTEGER"/>
        <result column="action_result" property="actionResult" jdbcType="VARCHAR"/>
        <result column="message" property="message" jdbcType="VARCHAR"/>
        <result column="action_timestamp" property="actionTimestamp" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, tenant_id, document_id, phase, retry_time, action_result, message, action_timestamp
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from task_doc_log
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectDocLog" resultMap="BaseResultMap" parameterType="Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM task_doc_log
        WHERE tenant_id = #{tenantId,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
        AND document_id = #{documentId,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
        AND phase = #{phase,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM task_doc_log
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.bwts.batchservice.entity.TaskDocLog" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        <selectKey order="AFTER" keyProperty="retryTime" resultType="int">
            SELECT max(retry_time) FROM task_doc_log WHERE
            tenant_id = #{tenantId,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
            AND document_id = #{documentId,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
            AND task_doc_log.phase = #{phase,jdbcType=VARCHAR}
        </selectKey>
        INSERT INTO task_doc_log (tenant_id,
        document_id, phase, retry_time,
        action_result, message, action_timestamp
        ) VALUES (#{tenantId,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
        #{documentId,jdbcType=OTHER,typeHandler=UUIDTypeHandler}, #{phase,jdbcType=VARCHAR},
        (SELECT CASE
        WHEN max(retry_time) IS NULL
        THEN 1
        ELSE max(retry_time) + 1
        END
        FROM task_doc_log
        WHERE tenant_id = #{tenantId,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
        AND document_id = #{documentId,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
        AND task_doc_log.phase = #{phase,jdbcType=VARCHAR})
        , #{actionResult,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{actionTimestamp, jdbcType=TIMESTAMP})
    </insert>
</mapper>
