<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="UUID" type="java.util.UUID"/>
        <typeAlias alias="UUIDTypeHandler" type="com.bwts.common.mybatis.UuidTypeHandler"/>
        <package name="com.bwts.batchservice.entity"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.bwts.common.mybatis.UuidTypeHandler"/>
    </typeHandlers>
</configuration>
